#image-entity-container {
    position: absolute;
}

.image-entity {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity .5s linear;
    user-select: none;
    background-repeat: no-repeat;
    background-size: contain;
}

.position-ease {
    transition: left 1s ease-out, opacity 500ms linear, top 1s ease-out, width 1s ease-out, height 1s ease-out;
}

.mod-overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    outline: 2px solid #2f1111;
    outline-offset: -2px;
}

.mod-window {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mod-window::before {
    content: "";
    display: block;
    border: 6px ridge #e2dacc;
    height: calc(100% + 26px);
    position: absolute;
    width: 100%;
    left: -6px;
    top: -32px;
    outline: 2px solid;
}

.mod-window::after {
    content: "";
    display: block;
    width: calc(100% + .35em);
    height: 26px;
    background-image: linear-gradient(90deg, #3f49c7, #a3cbd4);
    position: absolute;
    top: -32px;
    left: -6px;
    border: 3px outset #e2dacc;
    border-bottom: transparent;
    box-shadow: 1px 6px 0 -3px #8e8980;
    outline-offset: -4px;
}

.drag-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    right: 0;
    bottom: 0;
    background: #e2dacc;
}

.drag-icon::before {
    position: absolute;
    content: "◲";
    font-weight: bold;
    font-size: 26px;
    width: 22px;
    height: 24px;
    padding-left: 2px;
    text-align: center;
    color: #656057;
    line-height: 27px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    cursor: nw-resize;
}

.delete-icon {
    position: absolute;
    width: 17px;
    height: 17px;
    top: -26px;
    right: 0;
    background: #e2dacc;
    border: 2px outset;
}

.delete-icon::before {
    content: "🞬";
    position: absolute;
    line-height: 20px;
    font-size: 1.2em;
    width: 100%;
    height: 13px;
    margin-top: -0.06em;
    left: -0.03em;
}
