#image-entity-container {
    position: absolute;
}

.image-entity {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity .5s linear;
}

.image-entity.position-ease {
    transition-property:left, opacity, top;
    transition-duration: 1s, .5s;
    transition-timing-function: ease-out, linear;
}
