#image-entity-container {
    position: absolute;
}

.image-entity {
    position: absolute;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: opacity .5s linear;
    user-select: none;
}

.position-ease {
    transition-property:left, opacity, top;
    transition-duration: 1s, .5s;
    transition-timing-function: ease-out, linear;
}

#drag-overlay {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    display: none;
}
