#dropbox {
    position: absolute;
    width:100%;
    height:100%;
    opacity: 0;
}
#dropbox-wrapper {
    box-sizing: border-box;
    border: #e9e9e9 dashed 3px;
    position: absolute;
    width:100%;
    height:100%;
    background:rgba(51, 51, 51, 0.9);
}
#dropbox-wrapper > p {
    margin: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 5em;
    color: #e9e9e9;
    font-family: sans-serif;
}
body {
    margin: 0;
    overflow: hidden;
    background: #333333;
}
